html {
    margin: 0;
    font-family: cursive;
}

span {
    display: block;
}

.canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

.button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
}

#grey {
    background: grey;
}

#white {
    background: white;
}

#blue {
    background: blue;
}

#yellow {
    background: yellow;
}

#green {
    background: green;
}

.button{
    border-radius: 20%;
    margin-right: 10px;
    margin-bottom: 10px;
}

h1{
    background-color: aquamarine;
    width: 400px;
    margin: 30px auto;
    border-radius: 20px;
    padding: 4px;
    color: #212121;
    font-size: 32px;
}